# Open WebUI
OPEN_WEBUI_DB=open_webui
OPEN_WEBUI_DB_USER=open_webui_user
OPEN_WEBUI_DB_PASSWORD=U1iEjD7EMHoSv4IvpmCpLipnKp2eXBIu

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=gCMTIYXriSD7qkePqRTfOf3CrLWP0yoj
POSTGRES_DB=postgres

# n8n
N8N_DB=n8n
N8N_DB_USER=n8n_user
N8N_DB_PASSWORD=e3QXiYLnsyp1f9eUD2WFDIbG4biNhp2W
N8N_BASIC_USER=admin
N8N_BASIC_PASSWORD=zSNarlceBKwss0PW3QoT6DwBKtCYg4w5

# sim
SIM_DB=sim
SIM_DB_USER=sim_user
SIM_DB_PASSWORD=evICZciYiGMGuYX94y9xSkyVS3CDTvwS
NEXT_PUBLIC_APP_URL=https://sim.skyup.online
